<div id="view-page" class="closed">

    <div class="blog-wrapper clear">

        <form class="search-wrapper">
            <input id="search-field" ng-model="searchQ" type="search" placeholder="Search by Author, Title or Type">
        </form>
        <!--{{searchQ}}-->
        <div ng-switch on="(searchQ.length >= 1)">
        <div ng-switch-default class="nofilter-wrapper">
        <div class="article-wrapper" ng-repeat="article in articleArray track by $index" >

            <a ng-href="#blog/{{pageNum}}/{{article.ID}}">
                <!-- background-image is being injected from angular articleArray -->
                <article style="background-image: url({{article.img}})">
                    <div class="b-title" style="border-left: solid {{article.typeColor}} 4px;">{{article.title}}</div>
                    <div class="b-picture">

                    </div>
                    <div class="b-desc">
                        <span class="type-logo">{{article.type}}</span>
                        <span class="type-author">{{article.author[0].name}}</span>
                    </div>
                </article>
            </a>
        </div>
        </div>
            <div ng-switch-when="true" class="nofilter-wrapper">
            <div class="article-wrapper" ng-repeat="articleQ in articleShadowArray | filter:searchQ">
                <a ng-href="#blog/{{pageNum}}/{{articleQ.ID}}">
                    <!-- background-image is being injected from angular articleArray -->
                    <article style="background-image: url({{articleQ.img}})">
                        <div class="b-title" style="border-left: solid {{articleQ.typeColor}} 4px;">{{articleQ.title}}</div>
                        <div class="b-picture">

                        </div>
                        <div class="b-desc">
                            <span class="type-logo">{{articleQ.type}}</span>
                            <span class="type-author">{{articleQ.author[0].name}}</span>
                        </div>
                    </article>
                </a>
            </div>
            </div>
        </div>

        <div class="pageNumWrapper">
            <div class="pageNumber" ng-repeat="page in pageArray track by $index">
                <a class="fill" href="#blog/{{$index + 1}}">{{$index + 1}}</a>
            </div>
        </div>

    </div>
</div>
<footer>
    <div class="elements-wrapper">
        <a id="twitter" class="element">
            <p class="e-id">23</p>

            <h2 class="e-name">t</h2>

            <p class="e-fname">Twitter</p>

            <p class="e-anumber">127.00</p>
        </a>
        <a id="github" class="element">
            <p class="e-id">9</p>

            <h2 class="e-name">g</h2>

            <p class="e-fname">Github</p>

            <p class="e-anumber">91.23</p>
        </a>
        <a id="codepen" class="element">
            <p class="e-id">20</p>

            <h2 class="e-name">c</h2>

            <p class="e-fname">Codepen</p>

            <p class="e-anumber">24.03</p>
        </a>
        <a id="facebook" class="element">
            <p class="e-id">24</p>

            <h2 class="e-name">f</h2>

            <p class="e-fname">Facebook</p>

            <p class="e-anumber">51.9961</p>
        </a>
        <a id="dribble" class="element">
            <p class="e-id">57</p>

            <h2 class="e-name">d</h2>

            <p class="e-fname">Dribbble</p>

            <p class="e-anumber">23.7</p>
        </a>
    </div>
    <h5>© 2014 DON PAGE</h5>
</footer>
