<div id="view-page">
    <div class="work-wrapper--outer">
        <div class="work-wrapper--inner">

            <div class="left-info">
                <ul>
                    <li ng-click="changeType('')">All</li>
                    <li ng-click="changeType('development')">Development</li>
                    <li ng-click="changeType('design')">Design</li>
                </ul>
            </div>

            <div class="right-info">
                <div class="all-project-wrapper">

                    <div class="project" ng-repeat="project in projectArray | filter:activeType()"
                         ng-click="openProject(project.key)" id="{{project.key}}">
                        <div class="p-title">
                            <p>{{project.title}}</p>
                        </div>
                        <div class="p-type">
                            <p>{{project.type}}</p>
                        </div>
                        <div class="p-p">

                        </div>
                        <video ng-show="project.video.length > 1" autoplay loop="true" poster="{{project.imageLink}}" id="project-video"  style="background-image: url({{project.bg}})">
                            <source src="{{project.video}}" type="video/webm">
                            <!--<source src="test.mp4" type="video/mp4">-->
                        </video>
                        <div class="p-links" id="pLinks-{{project.key}}">
                            <a ng-click="newTab(project.githubLink)" ng-hide="project.githubLink.length < 1">github</a>
                            <a ng-click="newTab(project.imageLink)" ng-hide="project.imageLink.length < 1">full image</a>
                            <a ng-click="newTab(project.videoLink)" ng-hide="project.videoLink.length < 1">video</a>


                        </div>
                        <div class="p-info" id="pInfo-{{project.key}}">
                            <p>{{project.desc}}</p>
                        </div>
                        <div class="p-bg" style="background-image: url({{project.bg}})">

                        </div>

                    </div>

                </div>
            </div>


        </div>
    </div>

</div>